
<%# # example from rail.com  %>


<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>SimulatioRequest#request_created</h1>
    <%= @greeting %>,
    <h1>My husbane is amazing!</h1>
    <p> The content is below <p>

      <%# To do :
      insert the data from the fronted.  %>
  
    </body>
</html>