
<%# # example from rail.com  %>


<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear Interflux Singapore</p>
    <p>Someone has just submitted a request for a simulation on <a href="https://jet-fluxer.com">jet-fluxer.com</a>.</p>
    <p>Project name: <%= @project_name %></p>
    <p>Pallet width: <%= @pallet_width %></p>
    <p>Pallet height: <%= @pallet_height %></p>
  </body>
</html>