# <%= name.downcase.singularize %>_fixture_1:
#   name: Some Name
#   slug: some-name
#   public: true
#   group: other_thing_fixture_1
# 
# <%= name.downcase.singularize %>_fixture_2:
#   name: Some Name
#   slug: some-name
#   public: true
#   group: other_thing_fixture_1
