name: Continuous Deployment

on:
  push:
    branches:
      - 'production'

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: 'bin/rails test --verbose'

  # deploy:
  #   name: Deploy
  #   runs-on: ubuntu-latest
  #   needs: test
  #   env:
  #     PRIVATE_KEY: ${{secrets.PRIVATE_KEY}}
  #   steps:
  #     - uses: actions/checkout@v2
  #     - run: mkdir ~/.ssh
  #     - run: 'echo "$PRIVATE_KEY" > ~/.ssh/bot@server.interflux.com'
  #     - run: ssh-keyscan -H server.interflux.com > ~/.ssh/known_hosts
  #     - run: chmod 0755 ~/.ssh/
  #     - run: chmod 600 ~/.ssh/bot@server.interflux.com
  #     - run: chmod 644 ~/.ssh/known_hosts
  #     - run: remote/deploy.sh
